<div class="container container-fluid">
    <h1>Clientes</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF</th>
                <th>Pedidos</th>
                <th class="text-center">
                    <a [routerLink]="['/clientes/novo']" 
                    href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Novo
                    </a>
                </th>
            </tr>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.sobrenome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td class="text-center" >
                    <a [routerLink]="['/clientes/pedido']" href="#" title="listar" alt="listar" class="btn btn-xs btn-warning">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Listar
                    </a>
                <td class="text-center" style="width: 300px;">
                    <a [routerLink]="['/clientes/editar', cliente.cpf]" style="margin-right: 10px;" href="#" title="atualizar" alt="atualizar" class="btn btn-xs btn-primary">
                        <i class="fa fa-pen" aria-hidden="true"></i>
                        Atualizar
                    </a>
                    <a style="margin-right: 10px;" href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger"
                    (click)="remover($event, cliente)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Remover
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="color: red;" *ngIf="clientes.length==0">Nenhum Cliente cadastrado!</p>

</div>