<div class="container container-fluid">
    <h1>Novo Cliente</h1>
    <div class="well">
        <form #formCliente="ngForm">
            <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control " id="nome" name="nome" minlength="2" required
                [(ngModel)]="cliente.nome" #nome="ngModel">
                <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                    <div [hidden]="!nome.errors.required">Digite o nome da pessoa.</div>
                    <div>O nome deve conter ao menos 2 caracteres.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="sobrenome">Sobrenome:</label>
                <input type="text" class="form-control " id="sobrenome" name="sobrenome" minlength="2" required
                [(ngModel)]="cliente.sobrenome" #sobrenome="ngModel">
                <div *ngIf="sobrenome.errors && (sobrenome.dirty || sobrenome.touched)" class="alert alert-danger">
                    <div *ngIf="sobrenome.errors && (sobrenome.dirty || sobrenome.touched)" class="alert alert-danger">
                        <div [hidden]="!sobrenome.errors.required">Digite o nome da pessoa.</div>
                        <div>O nome deve conter ao menos 2 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <input type="string" class="form-control " id="cpf" name="cpf" required maxlength="11" minlength="11"
                [(ngModel)]="cliente.cpf" #cpf="ngModel" numerico mask="CPF_CNPJ">
                <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="alert alert-danger">
                    <div [hidden]="!cpf.errors?.required">
                        Digite o cpf do cliente
                    </div>
                    <div [hidden]="!cpf.errors?.minlength">
                        O CPF deve conter 11 numeros.
                    </div>
                    <div [hidden]="!cpf.errors?.maxlength">
                        O CPF deve conter 11 numeros.
                    </div>
                </div>
            </div>
            <a style="margin-right: 20px;" class="btn btn-secondary" [routerLink]="['/']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </a>
            <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!formCliente.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Salvar
            </button>
        </form>
    </div>

</div>
